DEBUG=False
SECRET_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
ALLOWED_HOSTS=your-domain.com,localhost,127.0.0.1
DB_NAME=od_approval_db
DB_USER=postgres
DB_PASSWORD=basireddy$9347163240
DB_HOST=db
DB_PORT=5432
CSRF_TRUSTED_ORIGINS=https://your-domain.com
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
OPENROUTER_API_KEY=your_openrouter_key_here
OPENROUTER_MODEL=openrouter/free
SITE_URL=https://your-domain.com
